.about-us {
    position: relative;
    margin-bottom: 120px;
    overflow: hidden;

    &::before {
        content: "";
        z-index: -2;
        position: absolute;
        top: -80px;
        left: 0;
        
        width: 100%;
        height: 175%;
    
        background: url("../../img/bg-horse-price.jpg") no-repeat center 0; 
        background-size: cover;
    }
    
    &__wrapper {
        display: flex;
    }

    &__video-box-wrapper {
        width: 670px;
        height: 433px;
        position: relative;
    }

    &__video-box {
        width: 100%;
        height: 100%;
        cursor: pointer;
        background-color: #000;
    }

    &__videoIframe {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: transparent;
    }

    &__videoPoster {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-image:url("../../img/video-img.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        border: none;
        overflow: hidden;
        opacity: 1;
        transition: opacity 800ms, height 0s;
        transition-delay: 0s, 0s;
        cursor: pointer;
    }

    .videoWrapperActive &__videoPoster {
        opacity: 0;
        height: 0;
        transition-delay: 0s, 800ms;
    }


    &__text-box {
        margin-top: 70px;
        padding-left: 80px;
        max-width: 459px;
    }

    &__text-box-wrapper {
        margin-bottom: 45px;
        width: 460px;
    }

}

@media (max-width: 1300px) {
    .about-us__text-box-wrapper {
        width: auto;
    }
}

@media (max-width: 1180px) {

    .about-us {
        &::before {
            top: -280px;
        }
        &__wrapper {
            flex-direction: column;
        }
    
        &__video-box {
            display: block;
            order: 2;            
            margin: 0 auto;
        }
        
        &__text-box {
            margin: 0 auto;
            margin-bottom: 20px;
            padding-left: 0;
        }

        &__text-box-wrapper {
            margin-bottom: 25px;
        }

        &__text-box {
            margin-bottom: 45px;
        }

        &__video-box-wrapper {
            align-self: center;
            margin-bottom: 30px;
        }
    }
}

@media (max-width: 700px) {
    .about-us__video-box-wrapper {
        width: 570px;
        height: 368px;
        position: relative;
    }
}

@media (max-width: 600px) {
    .about-us__video-box-wrapper {
        width: 470px;
        height: 304px;
        position: relative;
    }
}

@media (max-width: 550px) {
    .about-us__video-box-wrapper {
        width: 320px;
        height: 207px;
        position: relative;
    }
}