.gallery {
    padding: 70px 0;

    &__title {
        margin-bottom: 66px;
        text-align: center;
    }

    &__slider {
        position: relative;
        max-width: 1710px;
        margin: 0 auto;
        margin-bottom: 65px;

        &::before {
            content: '';
            width: 1000px;
            height: 100%;
            position: relative;
        }
    }

    &__button-wrapper {
        text-align: center;
    }
}


.gallery__slider .slick-track {
    display: flex;
    align-items: center;
    min-width: 0;
    outline: none;
}

.gallery__slider .slick-slide {
    opacity: 0;
}

.gallery__slider .slick-active {
    transform: scale(0.8);
    transition: all ease .5s;
    outline: none;
    opacity: .6;
}

.gallery__slider .slick-cloned {
    opacity: 0;
}
.gallery__slider .slick-active {
    transform: translateX(80px) scale(0.8);
    transition: all ease .5s;
    opacity: .6;
    z-index: -2;
}
.gallery__slider .slick-center {
    transform: scale(1);
    width: 669px;
    z-index: 3;
    outline: none;
    opacity: 1;
}

.gallery__slider .slick-center + .slick-active {
    transform: translateX(-80px) scale(0.8);
    transition: all ease .5s;
}

.gallery__slider .slick-arrow {
    position: absolute;
    top: 50%;
    margin-top: -20px;
    
    width: 40px;
    height: 50px;
    font-size: 0;
    background: transparent;
    z-index: 1;
    overflow: hidden;
    border: none;
}

.gallery__slider .slick-arrow:focus {
    outline: none;
}

.gallery__slider .slick-prev {
    left: 106px;
    background: url("../../img/icon-arrow-gallery-prev.svg") no-repeat center center;
    &:hover {
        background-image: url("../../img/icon-arrow-gallery-prev-focus.svg");
    }
}

.gallery__slider .slick-next {
    right: 106px;
    background: url("../../img/icon-arrow-gallery-next.svg") no-repeat center center;
    &:hover {
        background-image: url("../../img/icon-arrow-gallery-next-focus.svg");
    }
}



@media (max-width:678px) {
    .gallery__slider .slick-slide {
        width: 678px;
        opacity: 1;
    }

    .gallery__slider .slick-active {
        transform: none;
    }

    .gallery__slider .slick-prev {
        left: 10%;
    }
    
    .gallery__slider .slick-next {
        right: 10%;
    }

}

@media (max-width:578px) {
    .gallery__slider .slick-slide {
        width: 578px;
        opacity: 1;
    }
}

@media (max-width:478px) {
    .gallery__slider .slick-slide {
        width: 478px;
        opacity: 1;
    }
}

@media (max-width:378px) {
    .gallery__slider .slick-slide {
        width: 378px;
        opacity: 1;
    }
}