.horse {
    padding-bottom: 85px;
    &__inner {
        display: flex;
        justify-content: space-between;
        padding-bottom: 30px;
        
    }
    
    &__image-wrapper {
        max-width: 669px;
        position: relative;
    }
    
    &__control {
        position: absolute;
        left: 0;
        bottom: -35px;
        display: flex;
        align-items: center;
        width: 65px;
        justify-content: space-between;
    }
    &__info {
        max-width: 490px;
        align-self: center;
    }

    &__name {
        margin-bottom: 35px;
    }
}

@media (max-width: 912px) {
    .horse {
        &__inner {
            flex-direction: column;
        }

        &__image-wrapper {
            align-self: center;
        }

        &__info {
            margin-bottom: 25px;
        }
    }
}