.team {

    padding: 140px 0;
    
    @media (max-width: 800px) {
        padding: 60px 0;
    }
    
    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__photos {
        display: flex;
        margin-right: 10px;
    }

    &__info {
        align-content: flex-end;
        align-items: flex-end;
        align-self: center;
    }

    &__info .title-block--alt {
        margin-bottom: 43px;
    }
}

@media (max-width: 1040px) {
    .team {
        &__inner {
            flex-direction: column;
        }

        &__info {
            order: 1;
            align-self: flex-start;
            margin-bottom: 20px;
        }

        &__photos {
            order: 2;
            justify-content: center;
            flex-wrap: wrap;
        }

        &__photo {
            margin-bottom: 10px;
        }
    }
}