html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}
body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 100%;
    font-weight: 400;
    font-style: normal;
    color: $dark;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
}
  
.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.button {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    text-decoration: none;
    display: inline-block;
}

.button-main {
    color: $red;
    text-transform: uppercase;
    padding: 20px 30px;
    border: 2px $red solid;
    transition: .2s;
    animation: ease;
}

.button-main:hover {
    background-color: $red;
    color: $white;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

// Стрелка ссылка
.control-arrow {
    display: block;
}

.title-main {
    font-family: "Playfair Display SC", Times, serif;
    font-size: 64px;
    line-height: 100%;
    color: $white;
    font-weight: 400;
    margin: 0;
    margin-top: 8px;
    margin-bottom: 28px;
}

@media (max-width: 800px) {
    .title-main {
        font-size: 48px;
    }
}

// Большой и малый заголовок
.title-block,
.title-block--subtitle {
    display: block;
    margin: 0;
    color: $red;
    text-transform: uppercase;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
}

.title-block--alt {
    font-family: "Playfair Display SC", Times, serif;
    font-size: 64px;
    line-height: 100%;
    color: $grey;
    font-weight: normal;
    margin: 0;
}


@media (max-width: 800px) {
    .title-block,
    .title-block--subtitle {
        font-size: 21px;
    }
}

// Ссылка узнать больше
.blog__link,
.events__link {
    display: block;
}

.paragraph--contrast {
    color: $white;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
}
@media (max-width: 800px) {
    .paragraph--contrast {
        font-size: 14px;
    }
}

.about-us__text--fst {
    font-weight: bold;
}

.control-arrow {    
    width: 32px;
    height: 32px;
}