html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

// Preloader страницы

.loaderArea {
    background-color: #fafafa;
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    right:0;
    bottom:0;
    z-index: 100000;
  }

  #cube-loader {
    align-items: center;
    display: flex;
    height: 100%;
    width: 100%;
    position: fixed;
    & .caption {
      margin: 0 auto;
    }
    .cube-loader {
      width: 73px;
      height: 73px;
      margin: 0 auto;
      margin-top: 49px;
      position: relative;
      transform: rotateZ(45deg);
  
      & .cube {
        position: relative;
        transform: rotateZ(45deg);
        width: 50%;
        height: 50%;
        float: left;
        transform: scale(1.1);
      }
      & .cube:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $red;
        animation: cube-loader 2.76s infinite linear both;
        transform-origin: 100% 100%;
      }
      & .loader-2 {
        transform: scale(1.1) rotateZ(90deg);
      }
      & .loader-3 {
        transform: scale(1.1) rotateZ(180deg);
      }
      & .loader-4 {
        transform: scale(1.1) rotateZ(270deg);
      }
      & .loader-2:before {
        animation-delay: 0.35s;
      }
      & .loader-3:before {
        animation-delay: 0.69s;
      }
      & .loader-4:before {
        animation-delay: 1.04s;
      }
    }
  }
  
  @keyframes cube-loader {
    0%, 10% {
      transform: perspective(136px) rotateX(-180deg);
      opacity: 0;
    }
    25%, 75% {
      transform: perspective(136px) rotateX(0deg);
      opacity: 1;
    }
    90%, 100% {
      transform: perspective(136px) rotateY(180deg);
      opacity: 0;
    }
  }

body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 100%;
    font-weight: 400;
    font-style: normal;
    color: $dark;
    position: relative;
    overflow-x: hidden;
}

body.lock {
    overflow: hidden;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
}
  
.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.button {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    text-decoration: none;
    display: inline-block;
}

.button-main {
    color: $red;
    text-transform: uppercase;
    padding: 20px 30px;
    border: 2px $red solid;
    transition: .2s;
    animation: ease;
}

.button-main:hover {
    background-color: $red;
    color: $white;
}

.button-categories {
    color: $red;
    text-transform: uppercase;
}


.paragraph {
    line-height: 150%;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

// Стрелка ссылка
.control-arrow {
    display: block;
}

.title-main {
    font-family: "Playfair Display SC", Times, serif;
    font-size: 64px;
    line-height: 100%;
    color: $white;
    font-weight: 400;
    margin: 0;
    margin-top: 8px;
    margin-bottom: 28px;
}

@media (max-width: 800px) {
    .title-main {
        font-size: 48px;
    }
}

// Большой и малый заголовок
.title-block,
.title-block--subtitle {
    display: block;
    margin: 0;
    color: $red;
    text-transform: uppercase;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
}

.title-block--alt {
    font-family: "Playfair Display SC", Times, serif;
    font-size: 64px;
    line-height: 100%;
    color: $grey;
    font-weight: normal;
    margin: 0;
}


@media (max-width: 800px) {
    .title-block,
    .title-block--subtitle {
        font-size: 21px;
    }

    .title-block--alt {
        font-size: 32px;
    }
}

// Ссылка узнать больше
.blog__link,
.events__link {
    display: block;
}

.paragraph--contrast {
    color: $white;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
}
@media (max-width: 800px) {
    .paragraph--contrast {
        font-size: 14px;
    }
}

.about-us__text--fst {
    font-weight: bold;
}

.control-arrow {
    width: 32px;
    height: 32px;
}