html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    font-style: normal;
    color: $main;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
}
  
.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.button {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
}

.container {
    max-width: 320px;
    margin: 0 auto;
    padding: 0 16px;
}

.button--main {
    display: block;
    width: 100%;
    background-color: $red-purple;
    color: $white;
    height: 48px;
    border-radius: 24px;
}

.section-title__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.section-title {
    margin: 0;
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
    color: $midnight;
}

.section-title__count {
    margin: 0;
    font-size: 24px;
    line-height: 24px;
    font-weight: 800;

    color: $sand;
}
