@charset "UTF-8";

/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */

/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */

/* Base
    ========================================================================== */

/**
  * 1. Set default font family to sans-serif.
  * 2. Prevent iOS and IE text size adjust after device orientation change,
  *    without disabling user zoom.
  * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
  *  `em` units.
  */

html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
  * Remove default margin.
  */

body {
  margin: 0;
}

/* HTML5 display definitions
    ========================================================================== */

/**
  * Correct `block` display not defined for any HTML5 element in IE 8/9.
  * Correct `block` display not defined for `details` or `summary` in IE 10/11
  * and Firefox.
  * Correct `block` display not defined for `main` in IE 11.
  */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
  * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
  * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
  */

audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
  * Prevents modern browsers from displaying `audio` without controls.
  * Remove excess height in iOS 5 devices.
  */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
  * Address `[hidden]` styling not present in IE 8/9/10.
  * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
  */

[hidden],
template {
  display: none;
}

/* Links
    ========================================================================== */

/**
  * Remove the gray background color from active links in IE 10.
  */

a {
  background-color: transparent;
}

/**
  * Improve readability of focused elements when they are also in an
  * active/hover state.
  */

a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
    ========================================================================== */

/**
  * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
  */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
  * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
  */

b,
strong {
  font-weight: bold;
}

/**
  * Address styling not present in Safari and Chrome.
  */

dfn {
  font-style: italic;
}

/**
  * Address variable `h1` font-size and margin within `section` and `article`
  * contexts in Firefox 4+, Safari, and Chrome.
  */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
  * Addresses styling not present in IE 8/9.
  */

mark {
  background: #ff0;
  color: #000;
}

/**
  * Address inconsistent and variable font size in all browsers.
  */

small {
  font-size: 80%;
}

/**
  * Prevent `sub` and `sup` affecting `line-height` in all browsers.
  */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
    ========================================================================== */

/**
  * 1. Remove border when inside `a` element in IE 8/9/10.
  * 2. Improves image quality when scaled in IE 7.
  */

img {
  border: 0;
}

/**
  * Correct overflow not hidden in IE 9/10/11.
  */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
    ========================================================================== */

/**
  * Address margin not present in IE 8/9 and Safari.
  */

figure {
  margin: 1em 40px;
}

/**
  * Address differences between Firefox and other browsers.
  */

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

/**
  * Contain overflow in all browsers.
  */

pre {
  overflow: auto;
}

/**
  * Address odd `em`-unit font size rendering in all browsers.
  * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
  */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
    ========================================================================== */

/**
  * Known limitation: by default, Chrome and Safari on OS X allow very limited
  * styling of `select`, unless a `border` property is set.
  */

/**
  * 1. Correct color not being inherited.
  *  Known issue: affects color of disabled elements.
  * 2. Correct font properties not being inherited.
  * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
  * 4. Improves appearance and consistency in all browsers.
  */

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
  * Address `overflow` set to `hidden` in IE 8/9/10/11.
  */

button {
  overflow: visible;
}

/**
  * Address inconsistent `text-transform` inheritance for `button` and `select`.
  * All other form control elements do not inherit `text-transform` values.
  * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
  * Correct `select` style inheritance in Firefox.
  */

button,
select {
  text-transform: none;
}

/**
  * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
  *  and `video` controls.
  * 2. Correct inability to style clickable `input` types in iOS.
  * 3. Improve usability and consistency of cursor style between image-type
  *  `input` and others.
  * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
  *  Known issue: inner spacing remains in IE 6.
  */

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
  * Re-set default cursor for disabled elements.
  */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
  * Remove inner padding and border in Firefox 4+.
  */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
  * Address Firefox 4+ setting `line-height` on `input` using `!important` in
  * the UA stylesheet.
  */

input {
  line-height: normal;
}

/**
  * 1. Address box sizing set to `content-box` in IE 8/9/10.
  * 2. Remove excess padding in IE 8/9/10.
  *  Known issue: excess padding remains in IE 6.
  */

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
  * Fix the cursor style for Chrome's increment/decrement buttons. For certain
  * `font-size` values of the `input`, it causes the cursor style of the
  * decrement button to change from `default` to `text`.
  */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
  * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
  * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
  */

input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 2 */
}

/**
  * Remove inner padding and search cancel button in Safari and Chrome on OS X.
  * Safari (but not Chrome) clips the cancel button when the search input has
  * padding (and `textfield` appearance).
  */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
  * Define consistent border, margin, and padding.
  */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
  * 1. Correct `color` not being inherited in IE 8/9/10/11.
  * 2. Remove padding so people aren't caught out if they zero out fieldsets.
  * 3. Corrects text not wrapping in Firefox 3.
  * 4. Corrects alignment displayed oddly in IE 6/7.
  */

legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
  * Remove default vertical scrollbar in IE 8/9/10/11.
  */

textarea {
  overflow: auto;
}

/**
  * Don't inherit the `font-weight` (applied by a rule above).
  * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
  */

optgroup {
  font-weight: bold;
}

/* Tables
    ========================================================================== */

/**
  * Remove most spacing between table cells.
  */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

@font-face {
  font-family: "Playfair Display SC";
  font-display: swap;
  src: url("../fonts/playfairdisplayscbold.woff") format("woff"), url("../fonts/playfairdisplayscbold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Playfair Display SC";
  font-display: swap;
  src: url("../fonts/playfairdisplaysc.woff") format("woff"), url("../fonts/playfairdisplaysc.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Black.woff") format("woff"), url("../fonts/Roboto-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 100%;
  font-weight: 400;
  font-style: normal;
  color: #424242;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  text-decoration: none;
  display: inline-block;
}

.button-main {
  color: #B41517;
  text-transform: uppercase;
  padding: 20px 30px;
  border: 2px #B41517 solid;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  -webkit-animation: ease;
          animation: ease;
}

.button-main:hover {
  background-color: #B41517;
  color: #FFFFFF;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
}

.control-arrow {
  display: block;
}

.title-main {
  font-family: "Playfair Display SC", Times, serif;
  font-size: 64px;
  line-height: 100%;
  color: #FFFFFF;
  font-weight: 400;
}

.title-block,
.title-block--subtitle {
  display: block;
  margin: 0;
  color: #B41517;
  text-transform: uppercase;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.blog__link,
.events__link {
  display: block;
}

.paragraph--contrast {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
}

.about-us__text--fst {
  font-weight: bold;
}

.control-arrow {
  width: 32px;
  height: 32px;
}

.header {
  position: absolute;
  height: 110px;
  width: 100%;
  z-index: 100;
}

.header__inner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu-button {
  width: 44px;
  height: 44px;
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__menu-button:hover svg rect:first-child {
  fill: #B41517;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.header__menu-button:hover svg rect:not(:nth-child(1)) {
  fill: #FFFFFF;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.header__menu-map {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #B41517;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.header__menu-map:hover svg path:nth-child(n) {
  fill: #B41517;
}

.header__menu-map:hover {
  background-color: #FFFFFF;
}

.hero {
  height: 115vh;
  background: url("../../img/bg header.jpg") no-repeat center 0;
  background-size: cover;
  margin-bottom: 80px;
}

.hero__wrapper-text {
  padding-top: 15%;
}

.hero__title {
  margin: 0;
  font-family: "Playfair Display SC", Times, serif;
  font-weight: 700;
  color: #424242;
  font-size: 64px;
  line-height: 100%;
  max-width: 450px;
}

.hero__subtitle {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.about-us {
  position: relative;
  margin-bottom: 120px;
}

.about-us::before {
  content: "";
  z-index: -2;
  position: absolute;
  top: -80px;
  left: 0;
  width: 100%;
  height: 175%;
  background: url("../../img/bg-horse-price.jpg") no-repeat center 0;
  background-size: cover;
}

.about-us__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-us__video-box {
  max-width: 670px;
  max-height: 433px;
  cursor: pointer;
  position: relative;
}

.about-us__video-box::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
  width: 100px;
  height: 100px;
  background: url("../../img/icon-play.svg") no-repeat center center;
}

.about-us__video {
  width: 100%;
}

.about-us__text-box {
  margin-top: 70px;
  padding-left: 80px;
  max-width: 459px;
}

.about-us__text-box-wrapper {
  margin-bottom: 45px;
  width: 460px;
}

.services {
  margin-bottom: 150px;
}

.services__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 80px;
  position: relative;
  min-width: 0;
  margin-bottom: 80px;
}

.services__slider-item {
  max-width: 320px;
  margin-right: 20px;
}

.services__slider-box {
  background-color: #FFFFFF;
  min-height: 240px;
  min-width: 240px;
  padding: 50px 44px;
  -webkit-box-shadow: 0px 0px 10.7778px #C4C4C4;
          box-shadow: 0px 0px 10.7778px #C4C4C4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 0;
}

.services__slider-title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}

.services__slider-subtitle {
  margin: 0;
}

.services__slider-text-wrapper {
  font-family: "Playfair Display SC", Times, serif;
  min-width: 0;
  margin-bottom: 40px;
}

.services__slider-price {
  color: #B41517;
  font-weight: 900;
  font-size: 36px;
  line-height: 100%;
}

.services__slider-price {
  margin: 0;
}

.services__slider-price-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 0;
}

.services__slider-title-link {
  text-decoration: none;
  color: inherit;
}

.services__slider-title-link:hover {
  text-decoration: underline;
}

.services__link-wrap {
  text-align: center;
  margin: 0 auto;
}

.link--arrowed .arrow-icon {
  position: relative;
  top: -1px;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  vertical-align: middle;
}

.link--arrowed .arrow-icon--circle {
  -webkit-transition: stroke-dashoffset .3s ease;
  -o-transition: stroke-dashoffset .3s ease;
  transition: stroke-dashoffset .3s ease;
  stroke-dasharray: 95;
  stroke-dashoffset: 95;
}

.link--arrowed:hover .arrow-icon {
  -webkit-transform: translate3d(5px, 0, 0);
  transform: translate3d(5px, 0, 0);
}

.link--arrowed:hover .arrow-icon--circle {
  stroke-dashoffset: 0;
}

.slick-track {
  min-width: 0;
}

/* Слайдер */

/* Слайдер запущен */

/* Слайдер с точками */

/* Ограничивающая оболочка */

.slick-list {
  min-width: 0;
  overflow: hidden;
}

/* Лента слайдов */

.services__slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 10px;
  min-width: 0;
}

/* Стрелка */

.services__slider .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  font-size: 0;
  width: 60px;
  height: 60px;
  border: none;
}

/* Стрелка влево */

.services__slider .slick-arrow.slick-prev {
  left: 0;
  background: url("../../img/arrow-right.svg") no-repeat center center;
}

/* Стрелка вправо */

.services__slider .slick-arrow.slick-next {
  right: 0;
  background: url("../../img/arrow-right.svg") no-repeat center center;
}

.services__slider .slick-arrow.slick-next:hover {
  background: url("../../img/arrow-right-hover.svg");
}

.services__slider .slick-arrow.slick-disabled,
.services__slider .slick-arrow.slick-disabled:hover {
  background: url("../../img/arrow-left-disabled.svg") no-repeat center center;
}

@media (max-width: 1300px) {
  .about-us__text-box-wrapper {
    width: auto;
  }
}

@media (max-width: 1000px) {
  .about-us::before {
    top: -280px;
  }

  .about-us__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .about-us__video-box {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 0 auto;
  }

  .about-us__text-box {
    margin: 0 auto;
    margin-bottom: 20px;
    padding-left: 0;
  }
}

@media (max-width: 900px) {
  .services .services__slider-box {
    padding: 30px 20px;
  }

  .services .services__slider-price {
    font-size: 24px;
    font-weight: 700;
  }
}

@media (max-width: 800px) {
  .title-main {
    font-size: 48px;
  }

  .title-block,
  .title-block--subtitle {
    font-size: 21px;
  }

  .paragraph--contrast {
    font-size: 14px;
  }

  .hero__title {
    font-size: 40px;
  }

  .hero__subtitle {
    font-size: 18px;
    line-height: 100%;
  }

  .hero__wrapper-text {
    padding-top: 35%;
  }
}

@media (max-width: 700px) {
  .hero {
    height: 450px;
    position: relative;
    z-index: 1;
    margin-bottom: 230px;
  }

  .hero__wrapper {
    position: relative;
  }

  .hero__wrapper-text {
    position: absolute;
    bottom: -150px;
  }
}

@media (max-width: 480px) {
  .services__slider {
    padding: 0 52px;
  }
}